    <!-- About Section -->
    <section id="hakkinda" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>EtüBilir Hakkında</h2>
                <p>EtüBilir Erzurum Teknik Üniversitesi Bilim ve Fikir Kulübü adının kısaltmasıdır. EtüBilir bir 
		öğrenci kulübüdür.</p>
                <p>Yazılım, Mekanik ve Robotik alanında eğitimler vermektedir. Teknoloji ve girişimcilik yarışmaları 
		için takımlar kurmaktadır. Teknik geziler ve sosyal aktiviteler yapmaktadır.</p>
                <p>EtüBilir ekibi bilginin paylaştıkça artacağına ve herkesin bildiklerini birbirine anlatması gerektiğine 
		inanır. Bu yüzden bilginin yayılması için elinden geleni yapmaktadır.</p>
            </div>
        </div>
    </section>
