    <!-- Download Section -->
    <section id="basvur" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>EtüBilir'e Başvur</h2>
                    <p>Merhaba, EtüBilir'e online başvuru formu üzerinden başvuru yapabilirsiniz. Başvurularınız
		    değerlendirildikten sonra size bilgilendirme maili gönderilecektir.</p>
                    <a href="#" class="btn btn-default btn-lg">Başvur</a>
                </div>
            </div>
        </div>
    </section>
